
.solid-check {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-times {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/times.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-less-than {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/less-than.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-sync-alt {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/sync-alt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.solid-sync-alt.icon-9 { background-size: 8em 8em; }
.solid-sync-alt.icon-7 { background-size: 6em 6em; }
.solid-sync-alt.icon-6 { background-size: 5em 5em; }
.solid-sync-alt.icon-5 { background-size: 4em 4em; }
.solid-sync-alt.icon-4 { background-size: 3em 3em; }
.solid-sync-alt.icon-3 { background-size: 2em 2em; }

.solid-greater-than {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/greater-than.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-star {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-hashtag {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/hashtag.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-plus {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-minus {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-arrow-left {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.solid-equals {
  background-image: url("https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/equals.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* icon sizes */
.icon-9 {
  background-size: 9em 9em;
  width: 9em;
  height: 9em;
}

.icon-7 {
  background-size: 7em 7em;
  width: 7em;
  height: 7em;
}

.icon-6 {
  background-size: 6em 6em;
  width: 6em;
  height: 6em;
}

.icon-5 {
  background-size: 5em 5em;
  width: 5em;
  height: 5em;
}

.icon-4 {
  background-size: 4em 4em;
  width: 4em;
  height: 4em;
}

.icon-3 {
  background-size: 3em 3em;
  width: 3em;
  height: 3em;
}

.icon-1 {
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
}

/* icon colors */
.icon-green {
  filter: invert(1) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

.icon-red {
  filter: invert(1) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
