<html>
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <title>US ~ So Far ~</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style type="text/tailwindcss">
    :root {
      --light: #FAE3E3;
      --primary: #CFA5B4;
      --secondary: #846B8A;
      --red: #FF5733;
      --pink: #FF99CC;
    }

    @theme {
      --color-light: var(--light, white);
      --color-primary: var(--primary);
      --color-secondary: var(--secondary);
      --color-dark: var(--dark, #02111B);
    }
  </style>
  <style>
    body {
      user-select: none;
    }

    body::before {
      background-image: url('background.png');
      background-size: 16rem;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      opacity: 0.3;
    }

    .montserrat, .monospace {
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    .montserrat { font-family: "Montserrat", serif }
    .monospace { font-family: "Roboto Mono", serif }

    .icon svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    .date:not(:first-child)::before { content: '|' }

    .heart {
      display: flex;
      padding:1rem;
      background: var(--pink);
      mask:
        radial-gradient(at 70% 31%,#000 29%,#0000 30%),
        radial-gradient(at 30% 31%,#000 29%,#0000 30%),
        linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
      clip-path: polygon(-41% 0,50% 91%, 141% 0);
      object-fit: cover;
      width: 8rem;
      height: 8rem;
    }

    .heart.small {
      width: 4rem;
      height: 4rem;
      background: var(--red);
    }
  </style>
</head>
<body class="montserrat bg-light w-full h-full">
<script type="module">
  import { createApp } from 'https://unpkg.com/petite-vue?module'

  const Icon = {
    CAMERA: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path style="fill:var(--dark)" d="M149.1 64.8L138.7 96 64 96C28.7 96 0 124.7 0 160L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-256c0-35.3-28.7-64-64-64l-74.7 0L362.9 64.8C356.4 45.2 338.1 32 317.4 32L194.6 32c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>',
    CLAPPERBOARD: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="white" d="M448 32l-86.1 0-1 1-127 127 92.1 0 1-1L453.8 32.3c-1.9-.2-3.8-.3-5.8-.3zm64 128l0-64c0-15.1-5.3-29.1-14-40l-104 104L512 160zM294.1 32l-92.1 0-1 1L73.9 160l92.1 0 1-1 127-127zM64 32C28.7 32 0 60.7 0 96l0 64 6.1 0 1-1 127-127L64 32zM512 192L0 192 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-224z"/></svg>',
    GAMEPAD: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="white" d="M192 64C86 64 0 150 0 256S86 448 192 448l256 0c106 0 192-86 192-192s-86-192-192-192L192 64zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24l0 32 32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0 0 32c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-32-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l32 0 0-32z"/></svg>',
    HEART: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path style="fill:var(--red)" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>',
    MESSAGE: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path style="fill:var(--dark)" d="M160 368c26.5 0 48 21.5 48 48l0 16 72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6L448 368c8.8 0 16-7.2 16-16l0-288c0-8.8-7.2-16-16-16L64 48c-8.8 0-16 7.2-16 16l0 288c0 8.8 7.2 16 16 16l96 0zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3l0-21.3 0-6.4 0-.3 0-4 0-48-48 0-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L448 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64l-138.7 0L208 492z"/></svg>',
    PHONE: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path style="fill:var(--dark)" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>',
  }

  function DiscordStats() {
    const diff = Date.now() - new Date('01/03/2025').getTime()
    return {
      stats: [
        { before: 'Friends for', stat: Math.ceil(diff / (1000 * 3600 * 24)), after: 'days' },
        { stat: 9895, after: 'messsages', more: true },
        { stat: 179, after: 'hours on call', more: true },
      ],
    }
  }

  function GameStats() {
    return {
      Icon,
      games: [
        { cover: 'games/borderlands-2.jpg', time: '11.2 hours' },
        { cover: 'games/borderlands.jpg', time: '19.4 hours', offset: '-mt-3' },
        { cover: 'games/portal-2.jpg', time: '8 hours', offset: '-mt-6' },
        { cover: 'games/overwatch-2.jpg', time: 'A lot!' },
      ],
    }
  }

  function MovieStats() {
    return {
      Icon,
      movies: [
        { poster: 'movies/groundhog-day.jpg', date: new Date('2/13/2025') },
        { poster: 'movies/back-to-the-future.jpg', date: new Date('2/8/2015') },
        { poster: 'movies/star-wars-return-of-the-jedi.jpg', date: new Date('2/2/2025') },
        { poster: 'movies/star-wars-the-empire-strikes-back.jpg', date: new Date('1/19/2024') },
      ],
    }
  }

  function Timeline() {
    return {
      events: [
        {
          dates: [new Date('2/11/2025')],
          description: '<div class="flex justify-center rounded" style="background-color:#1a110a"><img width="360px" src="./first-phone-call.jpg"/></div>',
          event: 'First Phone Call',
          icon: Icon.PHONE,
        },
        {
          dates: [new Date('1/30/2025')],
          description: '<div class="flex justify-center rounded" style="background-color:#1a110a"><img width="360px" src="./first-text.jpg"/></div>',
          event: 'First Text',
          icon: Icon.MESSAGE,
        },
        {
          dates: [new Date('1/21/2025'), new Date('1/22/2025')],
          description: '<div class="rounded" style="background-color:#323338"><img class="rounded" src="./started-dating.png"></div>',
          event: 'Started Dating',
          icon: Icon.HEART,
        },
        {
          dates: [new Date('1/17/2025')],
          description: '<img class="rounded" src="./first-selfie-jon.jpg">',
          event: 'First Selfie - Jon',
          icon: Icon.CAMERA,
        },
        {
          dates: [new Date('1/9/2025')],
          description: '<img class="rounded" src="./first-selfie-megs.jpg">',
          event: 'First Selfie - Megs',
          icon: Icon.CAMERA,
        },
        {
          dates: [new Date('1/9/2025')],
          description: '<div class="rounded" style="background-color:#323338"><img class="rounded" src="./first-discord-call.png"></div>',
          event: 'First Discord Call',
          icon: Icon.PHONE,
        },
        {
          dates: [new Date('1/3/2025')],
          description: '<div class="rounded" style="background-color:#323338"><img class="rounded" src="./first-dm.png"></div>',
          event: 'First DM',
          icon: Icon.MESSAGE,
        },
      ],
    }
  }

  createApp({
    DiscordStats,
    GameStats,
    MovieStats,
    Timeline,
  }).mount()
</script>

<div class="flex flex-col text-white relative w-full h-full overflow-auto">
  <div class="flex justify-center w-full space-x-16 items-center sticky top-0 z-10"
    style="backdrop-filter: blur(0.75rem);background:rgba(250, 227, 227, 0.75) url('./sparkle.gif');margin-top:42vh;margin-bottom:42vh;">
    <div class="heart small"></div>
    <img class="heart" width="100px" src="./jon-no-bg.png">
    <div class="heart small"></div>
    
    <div class="flex flex-col items-center">
      <div class="text-9xl font-extrabold z-10" style="text-shadow: black 2px 2px 1px;">
        US
      </div>
  
      <div class="italic font-extrabold text-lg z-10" style="font-variant:small-caps;text-shadow: black 1px 1px 1px;">
        ~ so far ~
      </div>
    </div>
    
    <div class="heart small"></div>
    <img class="heart" src="./megs-no-bg.png">
    <div class="heart small"></div>
  </div>

  <div class="flex justify-center p-2">
    <div v-scope="Timeline()">
      <div v-for="{ dates, description, icon, event } in events" class="min-w-2xl max-w-2xl">
        <div class="border-0 border-l-4 border-secondary p-4 pl-6 ml-6">
          <div
            class="absolute bg-light rounded-full w-6 h-6 flex items-center justify-center -mx-11 p-4 border-2 border-secondary">
            <span v-if="icon" v-html="icon" class="icon"></span>
          </div>

          <div class="bg-primary rounded px-2 py-1 ml-2 flex flex-col space-y-2">
            <div class="border-y-10 border-r-10 border-primary w-0 h-0 absolute -ml-4 mt-1.5"
              style="border-top-color:transparent;border-bottom-color:transparent;"></div>

            <div class="text-lg font-semibold">
              {{ event }}
            </div>

            <div class="font-light" v-html="description"></div>

            <div class="font-light self-end monospace" style="font-size:0.6rem">
              <span v-for="date in dates" class="date">
                {{ date.toLocaleDateString("en-US") }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col p-2 space-y-2 sticky top-4">
      <div v-scope="DiscordStats()" class="flex flex-col rounded p-2 relative bg-primary space-y-2 min-w-lg max-w-lg">
        <div class="absolute">
          <img width="70" src="logos/discord-logo-white.svg" />
        </div>

        <div class="flex space-x-2 justify-center items-center">
          <div class="flex items-center space-x-1">
            <img width="25" src="avatars/discord-jon.png" />
            <span class="font-medium">
              jmgilmour
            </span>
          </div>
    
          <div class="font-medium text-2xl">
            +
          </div>
    
          <div class="flex items-center space-x-1">
            <img width="30" src="avatars/discord-megs.png" />
            <span class="font-medium">
              luckyyguppy
            </span>
          </div>
        </div>

        <div class="flex space-x-2 justify-center">
          <div
            v-for="({ before, stat, after, more }, index) in stats"
            :key="index"
            class="bg-secondary rounded-md p-2 w-28 flex flex-col items-center justify-center"
          >
            <div v-if="before" class="text-sm font-light">
              {{ before }}
            </div>
            <div class="text-3xl">
              <span>{{ stat }}</span><span v-if="more">+</span>
            </div>
            <div class="text-xs font-light">
              {{ after }}
            </div>
          </div>
        </div>
      </div>
    
      <div v-scope="GameStats()"v class="flex flex-col rounded p-2 relative bg-primary space-y-2 min-w-lg max-w-lg">
        <div class="absolute flex items-center space-x-1.5 font-semibold">
          <div class="w-5 h-3 flex items-center justify-center" v-html="Icon.GAMEPAD"></div>
        
          <span style="font-size:0.75rem">
            Games
          </span>
        </div>

        <div class="flex space-x-2 justify-center items-center">
          <div class="flex items-center space-x-1.5">
            <img width="25" src="avatars/steam-jon.jpg" />
            <span class="font-medium">
              jmgilmour
            </span>
          </div>
        
          <div class="font-medium text-2xl">
            +
          </div>
        
          <div class="flex items-center space-x-1.5">
            <img width="25" src="avatars/steam-megs.gif" />
            <span class="font-medium">
              LuckyyGuppy
            </span>
          </div>
        </div>

        <div class="flex flex-wrap justify-around">
          <div v-for="game in games"
            class="flex flex-col items-center space-y-0.5 bg-secondary rounded-md border-2 border-secondary">
            <div class="h-28 rounded-t-md overflow-hidden">
              <img class="w-28" :class="game.offset" :src="game.cover">
            </div>
            <span class="text-xs italic">
              {{ game.time}}
            </span>
          </div>
        </div>
      </div>

      <div v-scope="MovieStats()" class="flex flex-col rounded p-2 relative bg-primary space-y-2 min-w-lg max-w-lg">
        <div class="absolute flex items-center space-x-1.5 font-semibold">
          <div class="w-5 h-3 flex items-center justify-center" v-html="Icon.CLAPPERBOARD"></div>

          <span style="font-size:0.75rem">
            Movies
          </span>
        </div>


        <div class="mt-6 flex flex-wrap justify-around">
          <div v-for="movie in movies" class="flex flex-col items-center space-y-0.5 bg-secondary rounded-md border-2 border-secondary">
            <img class="w-28 h-42 rounded-md border-2 border-primary" :src="movie.poster">
            <span class="text-xs monospace" style="font-size:0.6rem">
              {{ movie.date.toLocaleDateString("en-US") }}
            </span>
          </div>
        </div>
      </div>

      <div class="flex flex-col rounded p-2 relative bg-primary space-y-2 min-w-lg max-w-lg">
        <div class="absolute">
          <img width="70" src="logos/spotify.png" />
        </div>

        <div class="flex space-x-2 justify-center items-center">
          <div class="flex items-center space-x-1.5">
            <img class="rounded-full" width="25" src="avatars/spotify-jon.jpg" />
            <span class="font-medium">
              jmgilmour
            </span>
          </div>
          
          <div class="font-medium text-2xl">
            +
          </div>
          
          <div class="flex items-center space-x-1.5">
            <img class="rounded-full" style="object-fit: cover; width:25px; height:25px" src="avatars/spotify-megs.jpg" />
            <span class="font-medium">
              Megs
            </span>
          </div>
        </div>

        <iframe class="rounded-md"
          src="https://open.spotify.com/embed/playlist/37i9dQZF1EJyLNX5D7xNOJ?utm_source=generator&theme=0" width="100%"
          height="352" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>
</body>
</html>